#root {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.section-selected {
  position: absolute;
  z-index: 2;
  left: 20px;
  margin-top: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: start;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  border: solid black 3px;
  background-color: rgb(255, 146, 4);
  overflow: hidden;
}
